@model City

@{ ViewData["Title"] = "Ajouter une nouvelle ville"; }

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Ajouter une nouvelle catégorie de compétence</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
