@model SubCategory

@{ ViewData["Title"] = "Modifier une catégorie"; }

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Modifier une catégorie</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Categories"></select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <form asp-action="Edit">
                            <input type="hidden" asp-for="SubCategoryID" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                        </form>
                        <a class="btn btn-outline-secondary" asp-action="Index">Annuler</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
