@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Gestionnaire des compétences LTi 1.0 </a>.</p>
</div>
